.col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12(style="height:300px; padding:20px")
  .roaming-card(id="roaming-card-#{index}", style="align-items:center;width:100%;")
    .roaming-card-body(style="align-items: center;vertical-align: middle;line-hight:30%;")
      .country_name
        h3.card-txt-country-name(style="color:#ffcc00") #{val.country_name}
      .operator_name
        h3.card-txt-operator-name(style="display: block;color:#ff9900") #{val.operator_name}
      .row(style="margin-top:20px;margin-bottom:5px")
        .col-xl-6.col-12
          .subs_count
            h1.card-txt-lte-count.text-light #{val.subs_count_LTE_string}
          h6.text-muted LTE 
        .col-xl-6.col-12
          .subs_count
            h1.card-txt-3g-count.text-light #{val.subs_count_3G_string}
          h6.text-muted 3G
      h3.card-txt-local-time.local-time(style=" color:#CCCCCC") #{val.date}
