.layer(id="detail-info-#{index}")
  .bg
  .pop-layer(id="detail-info-layer-#{index}")
    .pop-container
      .pop-conts
        .btn-r
          .card-body(style='height: 390px;')
            form.detail-info
              .form-group
                label.col-form-label(for='inputText3',style='width: 350px; height: 314px;')
                  p
                    label(style="font-size: 18px;") [상세 정보]
                  p
                    label(style="float:left;") 사업자명:
                    h3 #{val.operator_name}
                  p
                    label(style="float:left;") 국가명:
                    h3 #{val.country_name}
                  p
                    label(style="float:left;") MCC:
                    h3 #{val.MCC}
                  p
                    label(style="float:left;") MNC:
                    h3 #{val.MNC}
                  .form-group
                    label(for='exampleFormControlTextarea1') 조회할 내용 입력
                  .form-group
                    button.btn-outline-light(href='#', id='close_detail_layerForm') 닫기
