.layer(id="detail-info-#{index}")
  .bg
  .pop-layer(id="detail-info-layer-#{index}", style="width: 1300px;")
    .pop-container
      .pop-conts
        .btn-r
          a.btn.active(href='#', id='close_detail_layerForm',style="float: right; font-size: 18px; padding-left: 0px;padding-bottom: 0px;")
            i.far.fa-window-close
          .card-body(style='height: 225px; padding-right: 0px; padding-left: 0px;')
            form.detail-info.jg
              .form-group
                label.col-form-label(for='inputText3',style='width: 1300px; margin-bottom: 20px;')
                  p(style="margin-bottom:3px")
                    label(style="font-size: 20px; color: #ffc750b3;") 상세 정보
                  p(style="margin-bottom:3px;")
                    table.table
                     thead.bg-light
                       tr.border-0
                         th.border-0(scope='col', style="width: 235px;") 사업자명
                         th.border-0(scope='col', style="width: 150px;") 국가명
                         th.border-0(scope='col', style="width: 60px;") MCC
                         th.border-0(scope='col', style="width: 60px;") MNC
                         th.border-0(scope='col', style="width: 135px;") DRA
                         th.border-0(scope='col', style="width: 180px;") Office Hour
                         th.border-0(scope='col', style="width: 180px;") out of Office Hour
                         th.border-0(scope='col') Email
                     tbody(style="color:RGB(255,255,255)")
                       tr
                         td #{val.operator_name}
                         td #{val.country_name}
                         td #{val.MCC}
                         td #{val.MNC}
                         td #{val.dra_name}
                         td #{val.OfficeHour}
                         td #{val.out_of_OfficeHour}
                         td #{val.email}
                        
