.layer(id="detail-info-#{index}")
  .bg
  .pop-layer(id="detail-info-layer-#{index}")
    .pop-container
      .pop-conts
        .btn-r
          .card-body(style='height: 420px;')
            form.detail-info.jg
              .form-group
                label.col-form-label(for='inputText3',style='width: 350px; height: 314px;')
                  p
                    label(style="font-size: 20px; color: #ffc750b3;") 상세 정보
                  p
                    label(style="float:left;") 사업자명:
                    h3 #{val.operator_name}
                  p
                    label(style="float:left;") 국가명:
                    h3 #{val.country_name}
                  p
                    label(style="float:left;") MCC / MNC :
                    h3(style="padding-right: 55px;") #{val.MCC} / #{val.MNC}
                  p
                    label(style="float:left;") Office Hour :
                    h3(style="padding-right: 55px;") #{val.OfficeHour}
                  p
                    label(style="float:left;") Out of Office Hours :
                    h3(style="padding-right: 55px;") #{val.out_of_OfficeHour}
                  p
                    label(style="float:left;") Email : 
                    h3(style="padding-right: 55px;") #{val.email}
                  .form-group
                    button.btn-outline-light(href='#', id='close_detail_layerForm') 닫기
