.review-block.border-top.mt-3.pt-3
    p.h5.m-0.text-light.event-content
        | #{val.contents}
    .event_date
        h3.text-muted(style="line-hight:30%;height:30%;display: block") #{val.start_year}/#{val.start_month}/#{val.start_day}
        h3.text-muted(style="line-hight:30%;height:30%;display: block") #{val.end_year}/#{val.end_month}/#{val.end_day}

