tr.mt-3.pt-3
    td 
        input(type="checkbox", name='CheckBox', class="checkSelect_event")
    td.text-light #{val.contents}
    td.text-light(style="text-align:right") #{val.start_year}/#{val.start_month}/#{val.start_day} - #{val.end_year}/#{val.end_month}/#{val.end_day}
           
