tr
    td(style = 'mso-number-format:"\@"; border:thin solid black;') #{val.MCC}
    td(style = 'mso-number-format:"\@"; border:thin solid black;') #{val.MNC}
    td(style='border:thin solid black;') #{val.country_name}
    td(style='border:thin solid black;') #{val.operator_name} 
    td(style='border:thin solid black;') 0
    td(style='border:thin solid black;') #{val.ob_subs_count_LTE_string}
    td(style='border:thin solid black;') #{val.ob_subs_count_3G_string}
    td(style='border:thin solid black;') #{val.ib_subs_count_LTE_string}
    td(style='border:thin solid black;') #{val.ib_subs_count_3G_string}
    td(style='border:thin solid black;') #{val.dra_name}
    td(style='border:thin solid black;') #{val.HDV_available}
    td(style = 'mso-number-format:"\@"; border:thin solid black;') #{val.OfficeHour}
    td(style = 'mso-number-format:"\@"; border:thin solid black;') #{val.out_of_OfficeHour}
    td(style='border:thin solid black;') #{val.email}
      
