extends layout
block content
  .ecommerce-widget
                .row(id = 'cards')
                  -each val in rows
                    include card.jade

                .row(style="height:350px")
                  .col-xl-4.col-lg-6.col-md-6.col-sm-12.col-12(style="height:100%")
                    .simple-card(style="height:100%")
                      ul#Tab.nav.nav-tabs(role='tablist', style="height:100%")
                        li.col-xl-4.col-12.nav-item(style="padding:0px")
                          a#event-tab.nav-link.active(data-toggle='tab', href='#event', role='tab', aria-controls='event', aria-selected='true') EVENT
                        li.col-xl-4.col-12.nav-item(style="padding:0px")
                          a#issue-tab.nav-link(data-toggle='tab', href='#issue', role='tab', aria-controls='issue', aria-selected='false') ISSUE
                        ul.col-xl-4.col-12(style="margin-top:7px")
                          a.btn.active(href='#', id="event_add_Btn")
                            i.fas.fa-plus
                          a.btn.active(href='#', id="event_delete_Btn")
                            i.fas.fa-minus
                          a.btn.active(href='#', id="event_allsearch_Btn")
                            i.fas.fa-calendar
                          a.btn.active(href='#', id="event_search_Btn")
                            i.fas.fa-search
                        e#TabContent.tab-content
                          #event.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='event-tab', style="height:100%")
                            .table-responsive-sm
                              table.table.no-wrap
                                thead.bg-light
                                  tr.border-0
                                  th.border-0 Check
                                  th.border-0 Event
                                  th.border-0 Time
                                tbody.search(id='eveSearch')
                                  -each val in events
                                    include event.jade
                          #issue.tab-pane.fade(role='tabpanel', aria-labelledby='issue-tab')
                            .table-responsive-sm
                              table.table.no-wrap
                                thead.bg-light
                                  tr.border-0
                                  th.border-0 Check
                                  th.border-0 Issue
                                  th.border-0 Country
                                  th.border-0 Opeartor
                                  th.border-0 Time
                                tbody.search(id='issSearch')
                                  -each val in events
                                    include issue.jade
                            
                        

                      //- .card-body
                      //-   .ct-chart.ct-golden-section(style='height: 150px;')
                      //-   .text-center
                      //-    .search(id='eveSearch')
                      //-      -each val in events
                      //-        include events.jade
                      //-     //input.form-control(id='eventSearch', type='text', placeholder='조회한 내용 표시', style='height: 70px;')
                      //-   li
                      //-     input(id='eventID', type='text', placeholder='이벤트 번호', style='width: 100px;')
                      //-   li
                      //-     input(id='eventStYear', type='text', placeholder='시작 년도', style='width: 100px;')
                      //-     input(id='eventStMon', type='text', placeholder='시작 월', style='width: 100px;')
                      //-     input(id='eventStDay', type='text', placeholder='시작 일', style='width: 100px;')
                      //-   li
                      //-     input(id='eventEnYear', type='text', placeholder='끝나는 년도', style='width: 100px;')
                      //-     input(id='eventEnMon', type='text', placeholder='끝나는 월', style='width: 100px;')
                      //-     input(id='eventEnDay', type='text', placeholder='끝나는 일', style='width: 100px;')
                      //-   li
                      //-     input.form-control(id='eventAdd', type='text', placeholder='입력하세요..')
                          
                      //-     span.legend-item.mr-2
                      //-       span.fa-xs.text-primary.mr-1.legend-tile
                      //-         i.fa.fa-fw.fa-square-full
                      //-       span.legend-text Returning
                      //-     span.legend-item.mr-2
                      //-       span.fa-xs.text-secondary.mr-1.legend-tile
                      //-         i.fa.fa-fw.fa-square-full
                      //-       span.legend-text First Time
                  //
                  // ==============================================================
                  // end customer acquistion
                  // ============================================================== 
                  // ==============================================================
                  // ==============================================================
                  // recent orders
                  // ==============================================================
                  .col-xl-8.col-lg-12.col-md-6.col-sm-12.col-12(style="height:100%")
                    .card
                      h3.card-header Total Info
                      .card-body.p-0
                        .table-responsive
                          table.table
                            thead.bg-light
                              tr.border-0
                                th.border-0 Check
                                th.border-0 #
                                th.border-0 MCC
                                th.border-0 MNC
                                th.border-0 Quantity
                                th.border-0 Price
                                th.border-0 Order Time
                                th.border-0 Customer
                                th.border-0 Status
                            tbody
                              tr
                                td 
                                  input(type="checkbox", name='CheckBox', class="checkSelect")
                                td 1
                                td #{rows_all[0].MCC}
                                td #{rows_all[0].MNC} 
                                td 20
                                td $80.00
                                td 27-08-2018 01:22:12
                                td Patricia J. King 
                                td
                                  span.badge-dot.badge-brand.mr-1
                                  | InTransit
                              tr
                                td
                                  input(type="checkbox", name='CheckBox', class="checkSelect")
                                td 2
                                td #{rows_all[1].MCC}
                                td #{rows_all[1].MNC} 
                                td 12
                                td $180.00
                                td 25-08-2018 21:12:56
                                td Rachel J. Wicker 
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td
                                    input(type="checkbox", name='CheckBox', class="checkSelect")
                                td 3
                                td #{rows_all[2].MCC}
                                td #{rows_all[2].MNC} 
                                td 23
                                td $820.00
                                td 24-08-2018 14:12:77
                                td Michael K. Ledford 
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td
                                    input(type="checkbox", name='CheckBox', class="checkSelect")
                                td 4
                                td #{rows_all[3].MCC}
                                td #{rows_all[3].MNC} 
                                td 34
                                td $340.00
                                td 23-08-2018 09:12:35
                                td (id="target")  
                                td
                                  span.badge-dot.badge-success.mr-1
                                  | Delivered
                              tr
                                td(colspan='9')
                                  a.btn.btn-outline-light.float-right(type='button', id="selectBtn") 확인
                               
                                  
                
                  // ==============================================================
                  // end recent orders
                  // ==============================================================
                  
                  // ==============================================================
                  // end sales traffice country source
                  // ==============================================================
                  // ==============================================================
                  // footer
                  // ==============================================================
                  
                  
                  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
                  script(src="https://code.jquery.com/jquery-3.4.1.js")
                  script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.js')

                  script(src='/assets/js/checkBox.js')
                  script(src='/assets/js/search.js')
                  script(src='/assets/js/event_add.js')
                  script(src='/assets/js/event_search.js')
                  script(src='/assets/js/event_update.js')
                  script(src='/assets/js/event_delete.js')
                  script(src='/assets/js/EVE_ISS_state.js')
