.review-block.border-top.mt-3.pt-3
    p.h5.m-0.text-light.event-content
        | #{val.contents}
    .event_date
        h3.text-muted(style="line-hight:30%;height:30%;display: block") #{val.MCC}/#{val.MNC}
        h3.text-muted(style="line-hight:30%;height:30%;display: block") #{val.year}/#{val.month}/#{val.day}
