tr
    td.text-light 
        input(type="checkbox", name='CheckBox', class="checkSelect")
    td.text-light 1
    td.text-light #{val.country_name}
    td.text-light #{val.operator_name} 
    td.text-light #{val.ob_subs_count_LTE_string}
    td.text-light #{val.ob_subs_count_3G_string}
    td.text-light #{val.ib_subs_count_LTE_string}
    td.text-light #{val.ib_subs_count_3G_string}
    td
        a.btn.active(href='#')
            i.fas.fa-align-justify
    td(style="visibility:hidden; position:absolute;") #{val.MCC}
    td(style="visibility:hidden; position:absolute;") #{val.MNC}
